In [38]:
#***************************************************************************
#Assignment Name: 2.1
#Name: Tushar Muley
#Date: 09/13/2020
#Course: DSC530
#Desc: Simple Python code to get use to using Python in Jupyter Notebook 
#      and using Anaconda
#***************************************************************************

In [19]:
#Items 1 - Display the text
print("Hello World! I wonder why that is always the default coding text to start with")

Hello World! I wonder why that is always the default coding text to start with

In [40]:
#Item 2 - Add two numbers together
print (2 + 2)

4

In [41]:
#Item 3 - Subtract a number from another number
print (42 - 12)

30

In [42]:
#Item 4 - Multiply two numbers
print (12*3)

36

In [43]:
#Item 5 - Divide between two numbers
print (36/2)

18.0

In [23]:
#Item 5 - Concatenate two strings together
print ("This is" + " crazy!")

This is crazy!

In [1]:
#Item 6 - Create a list of 4 items
randomNumberlist = [2,5,7,10]
print (randomNumberlist)

[2, 5, 7, 10]

In [2]:
#Item 7 - Append an item to your list
randomNumberlist.append(10000)
print(randomNumberlist)

[2, 5, 7, 10, 10000]

In [37]:
#Item 8 - Create a tuple with 4 items
myTuple = ("Jack","Jake","Jane","Lucky")
print (myTuple)

('Jack', 'Jake', 'Jane', 'Lucky')