Name: Muley, Tushar

Assignment: Week 11 & 12 Exercises

Date: March 6, 2021

# Exercise 1 Activity 11 :

1. Connect to petsDB and check whether the connection has been successful.

In [1]:
#Import libraries
import sqlite3

In [2]:
#Connection to db
db_conn = sqlite3.connect('petsDB')

In [3]:
#Function to check connection status to db
def connection(db_conn):
    try:
        db_conn.execute('SELECT * FROM persons LIMIT 1')
        return True
    except sqlite3.ProgrammingError as f:
        print('Connection failed {}'.format(f))
        return False

In [4]:
#Check connection status
print(connection(db_conn))

True

In [5]:
#Close open connection
db_conn.close()

In [6]:
#TBD

#Connect to the db
with sqlite3.connect("petsDB") as conn:
    pass

2. Find the different age groups in the persons database.

In [7]:
#Pull age and count of age.
with sqlite3.connect('petsDB') as conn: #Open/close connection
    cursor = conn.cursor() #Defin cursor
    print('age    ','count') #Print headers
    print("-"*15) #Print dashes
    #SQL to pull data
    for age, cnt in cursor.execute('SELECT age, count(*) FROM persons GROUP BY age ORDER BY age'):
        print('{:<5}|{:>5}'.format(age,cnt)) #Print information

age     count
---------------
5    |    2
6    |    1
7    |    1
8    |    3
9    |    1
11   |    2
12   |    3
13   |    1
14   |    4
16   |    2
17   |    2
18   |    3
19   |    1
22   |    3
23   |    2
24   |    3
25   |    2
27   |    1
30   |    1
31   |    3
32   |    1
33   |    1
34   |    2
35   |    3
36   |    3
37   |    1
39   |    2
40   |    1
42   |    1
44   |    2
48   |    2
49   |    1
50   |    1
51   |    2
52   |    2
53   |    2
54   |    2
58   |    1
59   |    1
60   |    1
61   |    1
62   |    2
63   |    1
65   |    2
66   |    2
67   |    1
68   |    3
69   |    1
70   |    1
71   |    4
72   |    1
73   |    5
74   |    3

3. Find the age group that has the maximum number of people.

In [8]:
with sqlite3.connect('petsDB') as conn: #Open/close connection
    cursor = conn.cursor() #Defin cursor
    print('Age group with the maximum number of people')
    print('age    ','count') #Print headers
    print("-"*15) #Print dashes
    #SQL to pull data
    for age, cnt in cursor.execute('SELECT age, count(*) FROM persons GROUP BY age ORDER BY count(*) DESC LIMIT 1'):
                                   print('{:<5}|{:>5}'.format(age,cnt)) #Print information

Age group with the maximum number of people
age     count
---------------
73   |    5

4. Find the people who do not have a last name.

In [9]:
with sqlite3.connect('petsDB') as conn: #Open/close connection
    cursor = conn.cursor() #Defin cursor
    #SQL to pull data
    for cnt in cursor.execute('SELECT count(*) FROM persons WHERE last_name IS null'):
        print('People missing last names: {}'.format(cnt)) #Print information

People missing last names: (60,)

5. Find out how many people have more than one pet.

In [16]:
with sqlite3.connect('petsDB') as conn: #Open/close connection
    cursor = conn.cursor() #Defin cursor
    #Set variable with SQL to get owners with more than 1 pet
    selt = cursor.execute(
        'SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id)>1)')
    for row in selt: #Run through the variable to get the rows
        print('Owners with more than 1 pet: {}'.format(row[0])) #Print information

Owners with more than 1 pet: 43

6. Find out how many pets have received treatment.

In [21]:
with sqlite3.connect('petsDB') as conn: #Open/close connection
    cursor = conn.cursor() #Defin cursor
    #SQL to pull data
    for cnt in cursor.execute('SELECT count(*) FROM pets WHERE treatment_done=1'):
        print('Number of pets that have had treatment: {}'.format(cnt)) #Print information

Number of pets that have had treatment: (36,)

7. Find out how many pets have received treatment and the type of pet is known.

In [23]:
with sqlite3.connect('petsDB') as conn: #Open/close connection
    cursor = conn.cursor() #Defin cursor
    #SQL to pull data
    for cnt in cursor.execute('SELECT count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null'):
        print('Number of pets that have treatment and pet type is not null: {}'.format(cnt)) #Print information

Number of pets that have treatment and pet type is not null: (16,)

8. Find out how many pets are from the city called east port.

In [34]:
with sqlite3.connect('petsDB') as conn: #Open/close connection
    cursor = conn.cursor() #Defin cursor
    #SQL to pull data
    for cnt in cursor.execute('SELECT count(*) FROM pets JOIN persons ON pets.owner_id=persons.id \
    WHERE city="east port"'):
        print('Number of pets that live in east port: {}'.format(cnt)) #Print information

Number of pets that live in east port: (49,)

9. Find out how many pets are from the city called east port and who received a treatment.

In [37]:
with sqlite3.connect('petsDB') as conn: #Open/close connection
    cursor = conn.cursor() #Defin cursor
    #SQL to pull data
    for cnt in cursor.execute('SELECT count(*) FROM pets JOIN persons ON pets.owner_id=persons.id \
    WHERE city="east port" AND pets.treatment_done=1 '):
        print('Number of pets that live in east port and got treatment: {}'.format(cnt)) #Print information

Number of pets that live in east port and got treatment: (11,)